fastapi
uvicorn
langchain_community
langchain
PyMuPDF
python-docx
pandas
markdown
unstructured
pytesseract
Pillow
SQLAlchemy
psycopg2-binary
pgvector
torch
transformers
sentence-transformers
accelerate
bitsandbytes
psutil
python-dotenv
openpyxl
xlrd 